<form action="/updated" method="post">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Title to Update:<input type="text" name="old_title" /></p>
  <p>New Url:<input type="text" name="new_url" /></p>
  <p>New Title:<input type="text" name="new_title" /></p>
  <p><input type="submit" name="submit" /></p>
</form>